@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 2rem;

    @include breakpoint(desktop) {
        padding: 0;
    }
}

// Clase de utilidad para secciones
.section {
    padding: 6rem 0;
    
    @include breakpoint(tablet) {
        padding: 10rem 0;
    }
}